---
layout: default
---

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% unless site.data.data.sidebar.complementary_education %}
  {% include complementary_education.html %}
{% endunless %}

{% include experiences.html %}

{% include certifications.html %}

{% include research.html %}

{% include teaching.html %}

{% include outreach.html %}

{% include projects.html %}

{% include oss-contributions.html %}

{% include top_publications.html %}

{% include upcoming-events.html %}

{% include experiences_plus.html %}

