---
layout: default_ptbr
---

{% unless site.data.data.sidebar.education %}
  {% include education_ptbr.html %}
{% endunless %}

{% unless site.data.data.sidebar.complementary_education %}
  {% include complementary_education_ptbr.html %}
{% endunless %}

{% include experiences_ptbr.html %}

{% include certifications_ptbr.html %}

{% include research_ptbr.html %}

{% include teaching_ptbr.html %}

{% include outreach_ptbr.html %}

{% include projects_ptbr.html %}

{% include oss-contributions_ptbr.html %}

{% include top_publications_ptbr.html %}

{% include upcoming-events_ptbr.html %}

{% include experiences_plus_ptbr.html %}

