{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">
  (Showing {{ publications.papers | size }} results)

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <h3>Refereed</h3>

  <h4>First Author</h4>
  {% for publication in publications.papers %}
    {% if publication.refereed == true and publication.first-author == true %}
      <div class="item">
        {% if publication.link %}
          <a href="{{ publication.link }}">{{ publication.title }}</a>
        {% else %}
          {{ publication.title }}
        {% endif %}
        <div class="publication-authors">
          {{ publication.authors }}
          {% if publication.more %}
          <span class="publication-more"> {{ publication.more }}</span>
          {% endif %}
        </div>
        <div class="publication-journal">{{ publication.journal }}</div>
      </div><!--//item-->
    {% endif %}
  {% endfor %}

  <h4>Co-author</h4>
  {% for publication in publications.papers %}
    {% if publication.refereed == true and publication.first-author == false %}
      <div class="item">
        {% if publication.link %}
          <a href="{{ publication.link }}">{{ publication.title }}</a>
        {% else %}
          {{ publication.title }}
        {% endif %}
        <div class="publication-authors">
          {{ publication.authors }}
          {% if publication.more %}
          <span class="publication-more"> {{ publication.more }}</span>
          {% endif %}
        </div>
        <div class="publication-journal">{{ publication.journal }}</div>
      </div><!--//item-->
    {% endif %}
  {% endfor %}

  <h3>Non-refereed</h3>
  {% for publication in publications.papers %}
    {% if publication.refereed == false %}
      <div class="item">
        {% if publication.link %}
          <a href="{{ publication.link }}">{{ publication.title }}</a>
        {% else %}
          {{ publication.title }}
        {% endif %}
        <div class="publication-authors">
          {{ publication.authors }}
          {% if publication.more %}
          <span class="publication-more"> {{ publication.more }}</span>
          {% endif %}
        </div>
        <div class="publication-journal">{{ publication.journal }}</div>
      </div><!--//item-->
    {% endif %}
  {% endfor %}

</section><!--//section-->
{% endif %}
