{% assign navbar = site.data.data_ptbr.navbar %}

<a class="button-6 button-6-active" href="{{page.url}}"><span class="fi fi-br"></span> &nbsp; PT-BR</a>
<a class="button-6" href="/"><span class="fi fi-gb"></span> &nbsp; EN-US</a>

<ul class="nav">
  {% for item in navbar.pages %}
      <li class="{% if item.url == page.url %}active{% endif %}">
        <a href="{{ item.url }}">
          {% if item.icon %}
            <i class="{{ item.icon }}"></i>
          {% endif %}
          {{ item.title }}
        </a>
      </li>
  {% endfor %}

  {% if navbar.blog-title %}
  <li class="nav-right" style="float:right;">
    <a href="{{ navbar.blog-url }}">
      {% if navbar.blog-icon %}
        <i class="{{ navbar.blog-icon}}"></i>
      {% endif %}
      {{ navbar.blog-title }}
    </a>
  </li>
  {% endif %}
</ul>